.card {
  border: 1px solid #A9A9A9;
  border-radius: 60px 60px 6px 6px;
  border-top: none;
  margin-bottom: 20px;
  width: 224px;

  @media (max-width: 767px) {
    margin: 0 auto 20px auto;
  }

  .card-detail {
    padding: 6px 10px;
    position: relative;

    .card-price {
      display: inline-block;
      margin-top: 3px;
    }

    input {
        display: inline-block;
        height: 27px;
        padding: 3px 4px 6px 6px;
        vertical-align: middle;
        width: 50px;
    }
  }

  .card-image {
    background-blend-mode: multiply;
    border-radius: 12px;
    height: 311px;
    position: relative;
    width: 223px;
  }
}

.card-column {
  &.col-xs-6 {
    @media (max-width: 524px) {
      width: 100%;
    }

    @media (min-width: 525px) and (max-width: 767px) {
      width: 50%;
    }
  }
}

.card-results {
  margin-top: 57px;

  .results-row {
    input {
      display: inline-block;
      height: 30px;
      padding: 4px 4px 6px 6px;
      width: 50px;
    }
  }
}

.card-view {
  margin-top: 20px;
}

.search-bar {
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  margin-bottom: 10px;
  padding: 7px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .cart-nav {
    display: block;
    position: relative;

    .cart-block {
      position: absolute;
      right: 0;
      width: 53px;

      .cart-quantity {
        color: black;
        font-size: 21px;
        font-weight: bold;
        left: 16px;
        position: absolute;
        text-align: center;
        top: -7px;
        width: 26px;

        &.cart-high {
          font-size: 15px;
          top: -3px;
        }
      }

      @media (min-width: 1200px) {
        right: 40px;
      }
    }
  }

  .form-group {
    margin-bottom: 0;

    .form-control {
      background-color: #e9e9e9;
      border: 1px solid #d4d4d4;
      font-family: "Helvetica Neue","Helvetica","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",arial,sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }
  }
}
