<div class="search-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <form class="search-cards-form">
                    <div class="form-group">
                        <input
                            type="text"
                            focus-me="vm.focusInput"
                            ng-model-options="{ debounce: 250 }"
                            ng-model="vm.cardQuery"
                            class="form-control"
                            placeholder="Search for a card..."
                            ng-change="vm.searchCards(vm.cardQuery)">
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
                <a class="cart-nav" ui-sref="cart">
                    <div class="cart-block">
                        <span class="cart-quantity" ng-class="{ 'cart-high' : vm.cartQuantity > 99 }">{{ vm.atCartThreshold() ? vm.cartQuantity : '99+' }}</span>
                        <img class="cart-icon" src="assets/images/shopping_cart.svg" alt="Shopping Cart Icon" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<card-results
    card-query="vm.cardQuery"
    card-results="vm.cardResults"
    cart-quantity="vm.cartQuantity"
    clear-on-add="true"
    focus-input="vm.focusInput"
></card-results>
