//import bootstrap
// bower:scss
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'globals';
@import '../cart/views/_cart';
@import '../cart/export/views/_export';
@import '../review/views/_review';
@import '../search/views/_search';
@import '../browse/views/_browse';
@import '../browse/cards/views/_cards';

body {
    @media print {
        -webkit-print-color-adjust: exact;
    }
}

.darkBackground {
  background-color: #e9e9e9;
}

@media print {
    * {
        color: inherit !important;

        &:before {
            color: inherit !important;
        }
        &:after {
            color: inherit !important;
        }
    }
}
