.header-row {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;

  > div {
    padding: 10px 20px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.results-row {
  border-top: 1px solid #ddd;
  padding-bottom: 5px;
  padding-top: 5px;

  .data {
    display: block;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mobile-label {
    font-weight: bold;

    @media(min-width: 768px) {
      display: none;
    }
  }

  > div {
    padding: 10px 20px;
  }

  input {
    display: inline-block;
    height: 27px;
    padding: 3px 4px 6px 6px;
    position: relative;
    width: 50px;
  }
}

.sell-list {
  .results-row {
    &:nth-child(odd) {
      background-color: #f5f5f5;
    }
  }
}

.total-row {
  margin-bottom: 5px;
  margin-top: 5px;

  .running-total {
    font-weight: bold;
    padding-left: 5px;
  }
}

.trash-icon {
  cursor: pointer;
}
