<div class="container">
    <h2>Sell List</h2>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-7 text-right">
            <a ng-click="vm.refreshList()" ng-disabled="vm.refreshingCardList" class="btn btn-primary btn-md">
                <i ng-if="vm.refreshingCardList" class="fa fa-refresh fa-spin"></i>
                <i ng-if="!vm.refreshingCardList" class="fa fa-refresh"></i>
                <span> Refresh List</span>
            </a>
            <a ng-click="vm.openExportModal()" ng-disabled="vm.refreshingCardList" class="btn btn-primary btn-md">Export List</a>
            <a ui-sref="review-list" ng-disabled="vm.refreshingCardList" class="btn btn-primary btn-md">Print List</a>
        </div>
    </div>
    <div class="row header-row" ng-if="vm.cardList && vm.cardList.length > 0">
        <div class="col-sm-3">Name</div>
        <div class="col-sm-2">Set</div>
        <div class="col-sm-2">Price</div>
        <div class="col-sm-2">Total</div>
        <div class="col-sm-1">Quantity</div>
        <div class="col-sm-2"></div>
    </div>
    <div class="sell-list">
        <h3 ng-if="!vm.cardList || vm.cardList.length === 0">Your sell list is empty.</h3>
        <div class="row results-row" ng-if="vm.cardList && vm.cardList.length > 0" ng-repeat="item in vm.cardList | orderBy : site.sortName">
            <div class="col-sm-3">
                <span class="data" title="{{ ::item.PowerNineName }}">
                    <span class="mobile-label">Name: </span>
                    {{ ::item.PowerNineName }}
                </span>
            </div>
            <div class="col-sm-2">
                <span class="data" title="{{ ::item.SetName }}">
                    <span class="mobile-label">Set: </span>
                    {{ ::item.SetName }}
                </span>
            </div>
            <div class="col-sm-2">
                <span class="data">
                    <span class="mobile-label">Price: </span>
                    {{ ::item.BuyPrice  | currency}}
                </span>
            </div>
            <div class="col-sm-2">
                <span class="data">
                    <span class="mobile-label">Total: </span>
                    {{ (item.BuyPrice * item.quantity) | currency}}
                </span>
            </div>
            <div class="col-sm-1">
                <span class="mobile-label">Quantity: </span>
                <input type="number" class="form-control" ng-model="item.quantity" ng-change="vm.updateCard(item)"/>
            </div>
            <div class="col-sm-2 text-right">
                <a class="trash-icon data" ng-click="vm.trashCard(item)">Delete</a>
            </div>
        </div>
    </div>
    <div class="total-row" ng-if="vm.cardList && vm.cardList.length > 0">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10 text-right">
                <div>Total: {{vm.runningTotal | currency}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-7 text-right">
            <a ng-click="vm.refreshList()" ng-disabled="vm.refreshingCardList" class="btn btn-primary btn-md">
                <i ng-if="vm.refreshingCardList" class="fa fa-refresh fa-spin"></i>
                <i ng-if="!vm.refreshingCardList" class="fa fa-refresh"></i>
                <span> Refresh List</span>
            </a>
            <a ng-click="vm.openExportModal()" ng-disabled="vm.refreshingCardList" class="btn btn-primary btn-md">Export List</a>
            <a ui-sref="review-list" ng-disabled="vm.refreshingCardList" class="btn btn-primary btn-md">Print List</a>
        </div>
    </div>
</div>
