<div class="search-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <span class="set-header">{{vm.setName}}</span>
            </div>
            <div class="col-sm-2">
                <a class="cart-nav" ui-sref="cart">
                    <div class="cart-block">
                        <span class="cart-quantity" ng-class="{ 'cart-high' : vm.cartQuantity > 99 }">{{ vm.atCartThreshold() ? vm.cartQuantity : '99+' }}</span>
                        <img class="cart-icon" src="assets/images/shopping_cart.svg" alt="Shopping Cart Icon" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<card-results
    card-query="vm.cardQuery"
    card-results="vm.cardResults"
    cart-quantity="vm.cartQuantity"
    clear-on-add="false"
    focus-input="vm.focusInput"
></card-results>
