.close-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.export-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

    &.excel-icon {

    }

    &.text-icon {

    }

    &:active,
    &:focus,
    &:hover {
        border: 0;
        outline: 0;
    }
}

.export-modal {
    text-align: center;

    .modal-content {
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    &.modal {
        .modal-dialog {
            display: inline-block;
            left: 50%;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
        }
    }

    &.fade {
        .modal-dialog {
            transition: none;
        }
    }
}