<a class="export-btn excel-icon" ng-click="vm.exportExcelBuylist()">
    <img src="assets/images/excel-icon.png" />
</a>
<a class="export-btn text-icon" ng-click="vm.exportJsonFile()">
    <img src="assets/images/text-icon.png" />
</a>
