<div class="container card-results">
    <div ng-if="vm.cardResults.length > 0">
        <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-default btn-sm" title="Grid View" ng-click="vm.setViewMode('card')">
                    <i class="fa fa-th"></i>
                </a>
                <a class="btn btn-default btn-sm" title="List View" ng-click="vm.setViewMode('list')">
                    <i class="fa fa-th-list"></i>
                </a>
            </div>
        </div>
        <div class="row card-view" ng-if="vm.viewMode === 'card'" infinite-scroll="vm.addToResultList()" infinite-scroll-distance="1">
            <div class="card-column col-md-3 col-sm-4 col-xs-6" ng-repeat="card in vm.cardResults | limitTo: vm.limit track by $index">
                <div class="card">
                    <div
                        class="card-image"
                        ng-style="vm.getBackgroundImage(card)">
                    </div>
                    <div class="card-detail">
                        <span class="card-price">{{card.BuyPrice | currency}}</span>
                        <div class="pull-right">
                            <input class="form-control" min="1" type="number" ng-model="card.quantity" />
                            <button class="btn btn-primary btn-xs" ng-click="vm.addCardToCart(card)">Add</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row header-row" ng-if="vm.viewMode === 'list'">
            <div class="col-sm-4">Name</div>
            <div class="col-sm-3">Set</div>
            <div class="col-sm-1">Price</div>
            <div class="col-sm-1 col-sm-offset-1">Color</div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row results-row" ng-if="vm.viewMode === 'list'" infinite-scroll="vm.addToResultList()" infinite-scroll-distance="1" ng-repeat="card in vm.cardResults | limitTo: vm.limit track by $index">
            <div class="col-sm-4">
                <span class="data" title="{{ card.PowerNineName }}">
                    <span class="mobile-label">Name: </span>
                    {{ card.PowerNineName }}
                    <span ng-if="card.IsFoil"> - FOIL</span>
                </span>
            </div>
            <div class="col-sm-3">
                <span class="data" title="{{ card.SetName }}">
                    <span class="mobile-label">Set: </span>
                    {{ card.SetName }}
                </span>
            </div>
            <div class="col-sm-1">
                <span class="data">
                    <span class="mobile-label">Price: </span>
                    {{ card.BuyPrice  | currency}}
                </span>
            </div>
            <div class="col-sm-1 col-sm-offset-1">
                <span class="data">
                    <span class="mobile-label">Color: </span>
                    {{ card.ColorName.charAt(0).toUpperCase() + card.ColorName.slice(1) }}
                </span>
            </div>
            <div class="col-sm-2 text-right">
                <span class="mobile-label">Quantity: </span>
                <input class="form-control" min="1" type="number" ng-model="card.quantity" />
                <button class="btn btn-primary btn-sm" ng-click="vm.addCardToCart(card)">Add</button>
            </div>
        </div>
    </div>
</div>
