div[class*="card-"] {
    @media print {
        -webkit-print-color-adjust: exact;
    }
}

.card-artifact {
    color: brown;

    @media print {
        color: brown !important;
    }
}

.card-black {
    color: black;

    @media print {
        color: black !important;
    }
}

.card-blue {
    color: blue;

    @media print {
        color: blue !important;
    }
}

.card-colorless {
    background-color: black !important;
    color: gray;

    @media print {
        color: gray !important;
    }
}

.card-gold {
    background-color: black !important;
    color: yellow;

    @media print {
        color: yellow !important;
    }
}

.card-green {
    color: green;

    @media print {
        color: green !important;
    }
}

.card-land {
    background-color: gray !important;
    color: black;

    @media print {
        color: black !important;
    }
}

.card-red {
    color: red;

    @media print {
        color: red !important;
    }
}

.card-white {
    background-color: black !important;
    color: white;

    @media print {
        color: white !important;
    }
}

.color-title {
    text-transform: capitalize;
}

.review-headers {
    font-weight: bold;
}

.set-list {
    margin-bottom: 30px;

    .row {
        margin-bottom: 4px;
    }
}
