<div class="container">
    <div ng-repeat="set in vm.cardList" class="set-list">
        <h3>{{ ::set.SetName }}</h3>
        <div class="row review-headers">
            <div class="col-xs-4">Card Name</div>
            <div class="col-xs-1">Color</div>
            <div class="col-xs-1 text-center">Quantity</div>
            <div class="col-xs-3 text-right">Card Price</div>
            <div class="col-xs-3 text-right">Total</div>
        </div>
        <div class="row card-{{item.ColorName}}" ng-repeat="item in set.Cards | orderBy : [vm.sortColor, vm.sortName]">
            <div class="col-xs-4">{{ ::item.PowerNineName }} <span ng-if="item.IsFoil"> - FOIL</span></div>
            <div class="col-xs-1 color-title">{{ ::item.ColorName }}</div>
            <div class="col-xs-1 text-center">{{ ::item.quantity }}</div>
            <div class="col-xs-3 text-right">{{ ::item.BuyPrice  | currency}}</div>
            <div class="col-xs-3 text-right">{{ ::(item.BuyPrice * item.quantity) | currency}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <h3>Total: {{vm.runningTotal | currency}}</h3>
        </div>
    </div>
</div>
