.set-image {
    width: 50px;
}
.set-image-block {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    margin: 5px 0;
    min-height: 135px;
    position: relative;
    text-align: center;

    a {
        display: block;
        min-height: 135px;
        position: relative;
        width: 100%;

        img {
            left: 50%;
            position: absolute;
            top: 40%;
            transform: translate(-50%, -40%);
        }

        span {
            bottom: 10px;
            display: block;
            position: absolute;
            width: 100%;
        }
    }
}
