<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="set in vm.currentSets">
            <div class="set-image-block">
                <a ui-sref="browse.cards({setId: set.SetId})">
                    <img class="set-image" ng-src="{{ set.ImageUrl }}"/>
                    <span>{{set.Name}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
